.calendar-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 100px;
    left: 200px;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-table {
    width: 50%;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.item-button {
    width: 100%;
    padding: 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

/* Add any other desired styles for the calendar */
.task-text {
    cursor: pointer;
}

.task-text.completed {
    background-color: green;
}

.delete-button {
    margin-left: 5px;
    padding: 2px 6px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.current-date {
    position: relative;
}

.current-date:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(92, 97, 138, 0.616);
    z-index: -1;
}

.current-date span {
    position: relative;
    z-index: 1;
    color: white;
}